.page.theme_light {
  --display: none;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-text-color: #353430;
  --text-color: #353430;
  --decor-color: #353430;
  --color-text-content: #353430;
  --color-hover-button: #32312d66;
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.theme_light .rec::after {
  display: none;
}

.theme_light .rec::before {
  display: none;
}