.page.theme_light {
  --display: none;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-text-color: #353430;
  --text-color: #353430;
  --decor-color: #353430;
  --color-text-content: #353430;
  --color-hover-button: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --focus-color: #353430;
  --button-color: #353430;
  --link-hover-color: #353430;
}

.theme_light .rec::after {
  display: none;
}

.theme_light .rec::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --display: none;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --header-text-color: #353430;
    --text-color: #353430;
    --decor-color: #353430;
    --color-text-content: #353430;
    --color-hover-button: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
    --hover-color: rgba(50, 49, 45, 0.4);
    --focus-color: #353430;
    --button-color: #353430;
    --link-hover-color: #353430;
  }
}
